<nav class="navbar is-spaced full-screen" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{site.url}}">
                <img src="{{site.baseurl}}/assets/images/brigade_sm.png" alt="Code for America Hurricane Florence Response" width="78"
                     height="28">
            </a>
        </div>
        <ul id="WideScreenNavUL">
            {% for item in site.data.nav.widenav %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>